################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorClient/Client/bin/Debug/net5.0
/BlazorClient/Client/obj
/BlazorClient/Server/bin/Debug/net5.0
/BlazorClient/Server/obj
/BlazorClient/Shared/bin/Debug/net5.0
/BlazorClient/Shared/obj
